@font-face {
    font-family: 'ReithSans';
    src: url(/fonts/BBCReithSans_V2.300/Web/WOFF2/BBCReithSans_W_Rg.woff2) format('woff2'), url(/fonts/BBCReithSans_V2.300/Web/WOFF/BBCReithSans_W_Rg.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'ReithSans';
    src: url(/fonts/BBCReithSans_V2.300/Web/WOFF2/BBCReithSans_W_It.woff2) format('woff2'), url(/fonts/BBCReithSans_V2.300/Web/WOFF/BBCReithSans_W_It.woff) format('woff');
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'ReithSans';
    src: url(/fonts/BBCReithSans_V2.300/Web/WOFF2/BBCReithSans_W_Bd.woff2) format('woff2'), url(/fonts/BBCReithSans_V2.300/Web/WOFF/BBCReithSans_W_Bd.woff) format('woff');
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'ReithSans';
    src: url(/fonts/BBCReithSans_V2.300/Web/WOFF2/BBCReithSans_W_BdIt.woff2) format('woff2'), url(/fonts/BBCReithSans_V2.300/Web/WOFF/BBCReithSans_W_BdIt.woff) format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'ReithSans';
    src: url(/fonts/BBCReithSans_V2.300/Web/WOFF2/BBCReithSans_W_Lt.woff2) format('woff2'), url(/fonts/BBCReithSans_V2.300/Web/WOFF/BBCReithSans_W_Lt.woff) format('woff');
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: 'ReithSans';
    src: url(/fonts/BBCReithSans_V2.300/Web/WOFF2/BBCReithSans_W_LtIt.woff2) format('woff2'), url(/fonts/BBCReithSans_V2.300/Web/WOFF/BBCReithSans_W_LtIt.woff) format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'ReithSans';
    src: url(/fonts/BBCReithSans_V2.300/Web/WOFF2/BBCReithSans_W_ExBd.woff2) format('woff2'), url(/fonts/BBCReithSans_V2.300/Web/WOFF/BBCReithSans_W_ExBd.woff) format('woff');
    font-display: swap;
    font-weight: 800;
}

@font-face {
    font-family: 'ReithSans';
    src: url(/fonts/BBCReithSans_V2.300/Web/WOFF2/BBCReithSans_W_ExBdIt.woff2) format('woff2'), url(/fonts/BBCReithSans_V2.300/Web/WOFF/BBCReithSans_W_ExBdIt.woff) format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'ReithSans';
    src: url(/fonts/BBCReithSans_V2.300/Web/WOFF2/BBCReithSans_W_Md.woff2) format('woff2'), url(/fonts/BBCReithSans_V2.300/Web/WOFF/BBCReithSans_W_Md.woff) format('woff');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'ReithSans';
    src: url(/fonts/BBCReithSans_V2.300/Web/WOFF2/BBCReithSans_W_MdIt.woff2) format('woff2'), url(/fonts/BBCReithSans_V2.300/Web/WOFF/BBCReithSans_W_MdIt.woff) format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'ReithSerif';
    src: url(/fonts/BBCReithSerif_V2.300/Web/WOFF2/BBCReithSerif_W_Rg.woff2) format('woff2'), url(/fonts/BBCReithSerif_V2.300/Web/WOFF/BBCReithSerif_W_Rg.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'ReithSerif';
    src: url(/fonts/BBCReithSerif_V2.300/Web/WOFF2/BBCReithSerif_W_It.woff2) format('woff2'), url(/fonts/BBCReithSerif_V2.300/Web/WOFF/BBCReithSerif_W_It.woff) format('woff');
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'ReithSerif';
    src: url(/fonts/BBCReithSerif_V2.300/Web/WOFF2/BBCReithSerif_W_Bd.woff2) format('woff2'), url(/fonts/BBCReithSerif_V2.300/Web/WOFF/BBCReithSerif_W_Bd.woff) format('woff');
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'ReithSerif';
    src: url(/fonts/BBCReithSerif_V2.300/Web/WOFF2/BBCReithSerif_W_BdIt.woff2) format('woff2'), url(/fonts/BBCReithSerif_V2.300/Web/WOFF/BBCReithSerif_W_BdIt.woff) format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'ReithSerif';
    src: url(/fonts/BBCReithSerif_V2.300/Web/WOFF2/BBCReithSerif_W_Lt.woff2) format('woff2'), url(/fonts/BBCReithSerif_V2.300/Web/WOFF/BBCReithSerif_W_Lt.woff) format('woff');
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: 'ReithSerif';
    src: url(/fonts/BBCReithSerif_V2.300/Web/WOFF2/BBCReithSerif_W_LtIt.woff2) format('woff2'), url(/fonts/BBCReithSerif_V2.300/Web/WOFF/BBCReithSerif_W_LtIt.woff) format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'ReithSerif';
    src: url(/fonts/BBCReithSerif_V2.300/Web/WOFF2/BBCReithSerif_W_ExBd.woff2) format('woff2'), url(/fonts/BBCReithSerif_V2.300/Web/WOFF/BBCReithSerif_W_ExBd.woff) format('woff');
    font-display: swap;
    font-weight: 800;
}

@font-face {
    font-family: 'ReithSerif';
    src: url(/fonts/BBCReithSerif_V2.300/Web/WOFF2/BBCReithSerif_W_ExBdIt.woff2) format('woff2'), url(/fonts/BBCReithSerif_V2.300/Web/WOFF/BBCReithSerif_W_ExBdIt.woff) format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'ReithSerif';
    src: url(/fonts/BBCReithSerif_V2.300/Web/WOFF2/BBCReithSerif_W_Md.woff2) format('woff2'), url(/fonts/BBCReithSerif_V2.300/Web/WOFF/BBCReithSerif_W_Md.woff) format('woff');
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'ReithSerif';
    src: url(/fonts/BBCReithSerif_V2.300/Web/WOFF2/BBCReithSerif_W_MdIt.woff2) format('woff2'), url(/fonts/BBCReithSerif_V2.300/Web/WOFF/BBCReithSerif_W_MdIt.woff) format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 500;
}


/* NAVBAR */
/* .navbar {

} */

.styled_nav{
    /* position: relative; */
    border: 1px solid transparent;
    font-family:ReithSans,Helvetica,Arial,freesans,sans-serif;
    font-weight:700;
    font-size:0.8125rem;
    margin-top: 0;;
    height: 2.5rem;
}
#sing_in{
    border-left: 0.05rem solid black;
    min-width: 10rem;
}
#sing_in:hover::before, #home:hover::before{
    background-color: rgb(1, 113, 241);
}
#sing_in > span{
    text-align: right;
    min-width: 10rem;
}
#news:hover::before{
    background-color: red;
}
#sport:hover::before{
    background-color: orange;
}
#reel:hover::before{
    background-color: skyblue;
}
#worklife:hover::before{
    background-color: darkblue;
}
#travel:hover::before{
    background-color: lightgreen;
}
#future:hover::before{
    background-color: darkslateblue;
}

.styled_item{
    border-right: 0.05rem solid black;
}


.styled_link{
    display: flex;
    justify-content: center;
    color:black !important;
    text-decoration:none;
    position: relative;
    /* width: 6rem; */
}   

.styled_text{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.styled_link:hover::before{
    content: '';
    width: 100% ;
    height: 0.25rem;
    background-color: darkgrey;
    line-height: 0rem;
}

.styled_link::before{
    content: none;
    background-color:#B80000;
    width: 0.25rem;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -0.2rem;
}



.strech{
    max-width: 100vw;
    background-color:#b80000;
}

hr{
    border-top: 0.05rem white solid;
    margin-top: 0;
    margin-bottom: 0;
}
