
:root {
    --mainColor: #ff9800;
  }

.navbar a {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 0px;
    color: #000;
    text-decoration: none;
    transition: background-size .0s;
}
  
.navbar a:hover {
    background-size: 4px 0.3rem;
}

.divider{
    border-right: 1px solid grey;
  }