/* GLOBAL */
body{
    font-family: 'Roboto Slab', serif;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
a{
    color: black;
    text-decoration: none;
    background-color: transparent;
}
h2{
    font-size: 1.25rem;
}


/* NAVBAR */
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* global navbar */
.global_nav{
    display: flex;
    max-width: 78.125rem;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.1rem;
}

.global_nav .styled_item{
    list-style-type: none;
    border-right: 1px solid #BABABA;
    margin: auto;
}

.global_nav .styled_text{
    white-space: nowrap;
    font-size: 0.775rem;
    color: #3F3F42;
    width: 6rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.global_nav .styled_link{
    display: flex;
    justify-content: center;
    text-decoration:none;
    position: relative;
    line-height: 2.5rem;
} 

.global_nav .styled_link:hover::before, .global_nav .styled_link:active::before, .global_nav .styled_link:focus::before{
    content: '';
    width: 100% ;
    height: 0.25rem;
    background-color: #482878;
    line-height: 0rem;
}

.global_nav .styled_link::before{
    content: none;
    background-color:#B80000;
    width: 0.25rem;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0rem;
}

.search_icon{
    padding-right: 0.5rem;
    font-size: 1rem;
}

.brand{
    margin-left: 0.5rem;
    margin-right: 1rem;
}

#sign_in img{
    margin-left: 2rem;
}

.styled_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid transparent;
    font-weight:500;
    font-size:0.7rem;
    margin-top: 0;;
    height: 2.5rem;
}
#sign_in{
    border-left: 1px solid #BABABA;
    width: 11rem;
}
#sign_in:hover::before, #home:hover::before{
    background-color: #007bc7;
}
#sign_in > span{
    display: flex;
    align-items: flex-end;
    justify-content: start;
    text-align: left;
    min-width: 10rem;
    padding-left: 0.5rem;
}

.news_header{
    background-color:#b80000
}
.news_header_wrapper{
    max-width: 78.125rem;
    margin-left: auto;
    margin-right: auto;
}

.mainnav{
    color: white;
    max-width: 79.125rem;
    margin-left: auto;
    margin-right: auto;
}

#news:hover::before{
    background-color: #BB1919;
}
#sport:hover::before{
    background-color: #FFD230;
}
#reel:hover::before{
    background-color: #0068FF;
}
#worklife:hover::before{
    background-color: #0052A1;
}
#travel:hover::before{
    background-color: #589E50;
}
#future:hover::before{
    background-color: #002856;
}
#culture:hover::before{
    background-color: #482878;
}

/* main navigation */

.mainnav .styled_item{
    list-style-type: none;
    border-right: 0.05rem solid rgb(219, 219, 219);
    height: 2.25rem;
    margin: auto;
}

.news_img{
    width:8rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.news_header .styled_item{
    list-style-type: none;
    border-right: 0.0625rem solid #DB7F7F;
    height: 1rem;
    margin: auto;
}

.news_header .styled_item:last-child {
	border-right: none
}

.mainnav .styled_link{
    display: flex;
    justify-content: center;
    color:black;
    text-decoration:none;
    position: relative;
    line-height: 1.2rem;
}   

.styled_link:hover{
    text-decoration: none;
    color:black;
}

.mainnav .styled_text{
    white-space: nowrap;
    font-size: 1rem;
    color: white;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    font-weight: 500;
}

.mainnav .styled_link:hover::before, .mainnav .styled_link:active::before, .mainnav .styled_link:focus::before{
    content: '';
    width: 100% ;
    height: 0.25rem;
    background-color: white;
    line-height: 0rem;
}

.mainnav .styled_link::before{
    content: none;
    background-color:#B80000;
    width: 0.25rem;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
}
.more_container{
    display: flex;
    border-left: 0.0625rem solid #DB7F7F;
}
.more_button > i{
    padding-right: 1rem;
}
.more_button:hover, .more_button:active{
    cursor: pointer;
}
.more_button:active{
    color: black;
    background-color: white;
}

.local_nav hr{
    border-top: 0.05rem white solid;
    margin-top: 0;
    margin-bottom: 0;
}

#show_more{
    display: none;
    height: 3.75rem;
    border-bottom: 0.25rem #B80000 solid;
}

.show_more_wrapper{
    display: flex;
    max-width: 78rem;
    margin-left: auto;
    margin-right: auto;
}

.more_link_list{
    width: 100%;
    list-style-type: none; 
    column-count: 5;
}

.more_list_item{
    border-right: 0.05rem #BABABA solid;
}




.sub_mainnav{
    background-color: white;
    color: black;
    width: 79.125rem;
    margin-left: auto;
    margin-right: auto;
}

.sub_mainnav .styled_text{
    white-space: nowrap;
    font-size: 1rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    font-weight: 500;
}

.sub_mainnav .styled_link::before{
    content: none;
    background-color: white;
    width: 0.25rem;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -0.1rem;
}

.sub_mainnav .styled_link:hover::before, .sub_mainnav .styled_link:active::before, .sub_mainnav .styled_link:focus::before{
    content: '';
    width: 100% ;
    height: 0.25rem;
    background-color: #B80000;
    line-height: 0rem;
}

.sub_mainnav .styled_item{
    list-style-type: none;
    border-right: 0.0625rem solid #BABABA;
    height: 2rem;
    margin: auto;
}

.sub_mainnav .styled_link{
    display: flex;
    justify-content: center;
    color:black;
    text-decoration:none;
    position: relative;
    line-height: 2rem;
}   

.styled_link:hover{
    text-decoration: none;
    color:black;
}

/* content */

.content{
    max-width: 78.125rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: 
    "main_content . sidebar";
    grid-template-columns: 800px 130px 315px; 
}
.main_content{
    grid-area: main_content;
    font-weight: 400;
}
.main_content p span strong{
    color: black;
    font-weight: 500;
}
.main_content header p {
    font-size: 0.85rem;
    color: #696969;
}

.share_icon{
    display: flex !important;
    background-color: #B80000;
    color: white;
    width: 3.125rem;
    height: 2.75rem;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}
.share_icon:hover{
    background-color: #3F3F42;
}
.share_icon:active{
    border-radius: 3px;
}

.sidebar{
    margin-top: 1rem;
    grid-area: sidebar;
}

.sidebar hr{
    border-top: 0.1rem #B80000 solid;
    margin-top: 0;
    margin-bottom: 0;
}

.section_header{
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article>header>div>p{
    display: flex;
    align-items: center;
}
article>header>div>p>:hover{
    background-color: #B80000;
    color: white;
}
article>header{
    border-bottom: solid 1px #BABABA;
    padding-bottom: 0.5rem;
}


.cv_news{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    width: 11.25rem;
    height: 2.75rem;
    border: 0.05rem #B80000 solid;
}
.component_wrapper{
    margin: 1.5rem 0;
}
.figure_container{
    position: relative;
}
.figure_copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #3F3F42;
    color: #EEEEEE;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
}
.figure_caption{
    background:#3F3F42;
    color:#EEEEEE;
    padding:1rem;
}

.text_wrapper{
    margin: 1rem 0;
}


.text_container{
    color: #3F3F42
}
.text_container>p{
    max-width: 36.25rem;
}


.bullet_list_container{
    margin-left:1.5rem;
    margin-top:1rem;
    color: BABABA;
}
.bullet_list_container ul{
    list-style-type:disc;
    line-height: 1.5rem;
}
.bullet_list_container ul li{
    line-height: 2.25rem;
}
.common_list{
    font-weight: 400;
}

.bullet_list_link{
    
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.25em;
    text-decoration-color: #BABABA;
}

.bullet_list_link:hover{
    color: #B80000;
}

.bullet_list_container ol{
    list-style-type:decimal;
}

.icon_wrapper{
    display:inline-block;
    width:1em;
    height:1em;
    padding-right:1rem;
    vertical-align:-0.125em;
}


.standart_button{
    font-family:ReithSans,Helvetica,Arial,freesans,sans-serif;
    font-weight:700;
    font-size:1rem;
    line-height:1.25rem;
    display:block;
    padding:0 calc(1rem - 1px);
    border:1px solid transparent;
    line-height:calc(2.75rem - 2px) !important;
    background:#B80000;
    color:#FFFFFF;}
    @media (min-width:37.5rem){
        .standart_button{
            font-size:1.125rem;line-height:1.375rem;
        }
    }
    .standart_button:hover,
    .standart_button:focus,
    .standart_button:active{
        cursor:pointer;
    }
    .standart_button:hover,
    .standart_button:focus,
    .standart_button:active{
        background:#3F3F42;
        color:#FFFFFF;
    }

    
    .promo_item{
        display: block;
        position: relative;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.125rem;
        list-style-type: none;
        margin-bottom: 1.5rem;
    }
    .promo_item > div{
        margin-top: 1rem;
    }

    

    .promo_link{
        display: block;
        width: 100%;
        height: 100%;
    }
    .promo_link:link{
        color: #3F3F42;
    }
    .promo_link:visited{
        color:#696969;
    }
    .promo_link:link,
    .promo_link:visited{
        font-size: 1.1rem;
        font-weight: 500;
        text-decoration:none;
    }
    .promo_link:link:hover,
    .promo_link:visited:hover,
    .promo_link:link:focus,
    .promo_link:visited:focus{
        color:#B80000;
        text-decoration:underline;
    }


.promo_link:link::after, .promo_link:visited::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.metadata_snippet{

    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1rem;
    margin-top: -0.25rem;
    color: #696969;
    display:inline-block;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    vertical-align:bottom;
}






article>hr{
    margin: 1.5rem 0;
    max-width: 50rem;
    border-top: 3px solid  #BABABA;
}
.red_hr{
    margin: 1.5rem 0;
    max-width: 50rem;
    border-top: 2px solid #B80000;
}


footer{
    background: #282828;
    color: #FFFFFF;
}

.servicebar{
    display: flex;
    max-width: 78.125rem;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.1rem;
    height: 5.75rem;
}
.servicebar_title{
    padding-top: 1rem;
    height: 2.25rem;
}
.styled_icon{
    margin-right: 1rem;
    width: 28px;
    height: 36px;
    fill: white;
}
.service_link_list{
    min-width: 78.125rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
}
footer .styled_link{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.75rem 0;
}


.global_footer{
    min-width: 78.125rem;
    line-height: 1rem;
    padding: 1rem 0;
    background: #282828;
    border-top: 1px solid #717171;
    color: #FFFFFF;
}

.stack_wrapper a{
    color: #FFFFFF;
}

.stack_wrapper{
    max-width: 78.125rem;
    margin-right: auto;
    margin-left: auto;
}
.stack_wrapper > div{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.nav_link_list{
    list-style-type: none;
    columns:12rem;
    column-rule:1px solid #717171;
    column-gap:0.5rem;
    gap:0.5rem;
    padding-bottom:1rem;
    border-bottom:1px solid #717171;
}
.nav_link_list:last-child{
    column-rule: none;

}

.nav_link_list > li{
    break-inside:avoid-column;
}

.footer_nav_link{
    display: block;
    padding: 0.75rem 0;
}


.legal_link_list{
    display:flex;
    flex-wrap:wrap;
    margin-top:-0.75rem;
    margin-bottom:-0.75rem;
}
.legal_link_list > li{
    list-style-type: none;
    margin-right:1.5rem;
}


.promo_headline{
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}
.promo{
    display: block;
    position: relative;
}

.ranked{
    display: flex !important;
    justify-content: space-between;
}
.rank{
    vertical-align: baseline;
    align-self: center;
    color: #B80000;
    margin-left: 3.125rem;
}














.global_nav{
    display: flex;
    max-width: 78.125rem;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}